* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Press Start 2P", cursive;
  color: white;
}

body {
  background-color: black;
}

h1 {
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  letter-spacing: 8px;
  color: firebrick;
  font-size: 3rem;
  text-align: center;
  margin-top: 5rem;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.8rem;
  letter-spacing: 4px;
}

table {
  width: 80%;
  margin: 4rem auto;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: center;
}

.back_to_menu_container {
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  padding: 15px 20px;
  z-index: 9999;
  background: black;
}

.back_to_menu_btn {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.back_to_menu_btn:hover {
  color: firebrick;
}
