* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Press Start 2P", cursive;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  background-color: black;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.menu-item {
  color: white;
  cursor: pointer;
  margin-bottom: 4rem;
  font-size: 3.5rem;
  letter-spacing: 5px;
}

a.link {
  color: white;
  text-decoration: none;
  transition: all 0.1s;
}

a.link:hover {
  color: firebrick;
}

.d-none {
  display: none;
  visibility: hidden;
}
